# === Node.js (Angular) ===
client/node_modules/
client/dist/
client/.angular/
client/.angular-cache/
client/.env
client/src/environments/*.ts

# === Logs ===
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# === OS Files ===
.DS_Store
Thumbs.db

# === Visual Studio (.NET) ===
*.user
*.suo
*.userosscache
*.sln.docstates

# Build results
*appsettings.json
**/bin/
**/obj/
server/server/appsettings.json/
server/server/appsettings.*.json

# VS Code settings
server/.vs/
.vscode/
.vscode/*

# ASP.NET Secrets
**/secrets.json

# Others
*.db
*.sqlite
*.pdb
*.cache
*.log

# Environment
*.env
.env.*
.env.local
.env.development.local
.env.test.local
.env.production.local

# === Git ===
*.orig
