<mat-toolbar color="primary" class="navbar">
    <div class="logo-section">
      <img src="assets/logo.png" alt="Hospital Logo" class="logo" />
      <span class="title">City Hospital</span>
    </div>
  
    <span class="spacer"></span>
  
    <div class="nav-links">
      <button mat-button routerLink="/home" routerLinkActive="active-link">Home</button>
      <button mat-button routerLink="/appointments" routerLinkActive="active-link">Scheduled Appointments</button>
    </div>
 
    <span class="spacer"></span>
    <button mat-raised-button color="accent" class="call-button">
      <mat-icon>call</mat-icon>&nbsp;Call Now
    </button>
</mat-toolbar>
  